Repository SplitStay/splitstay-mvp: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: false
  commands:
    lint:
      glob: "*.{js,jsx,ts,tsx,json,md}"
      run: npm run check
    typecheck:
      glob: "*.{ts,tsx}"
      run: npx tsc --noEmit
    test:
      run: npm run test:run

chore: gitignore supabase local state files
  .gitignore
  supabase/.temp/cli-latest
  supabase/.temp/gotrue-version
  supabase/.temp/pooler-url
  supabase/.temp/postgres-version
  supabase/.temp/rest-version
Due: none

docs: document hosting setup and manual migration process
  README.md
Due: lint

refactor: consolidate migrations with fresh schema dump from production
  supabase/migrations/00000000000000_baseline.sql
  supabase/migrations/00000000000000_initial_schema.sql
  supabase/migrations/20240101000000_fix_notifications_and_counters.sql
  supabase/migrations/20260128000000_admin_moderation.sql
Due: none

docs: improve README accessibility for new developers
  .env.example
  CLAUDE.md
  README.md
  src/.env.example
Due: lint

chore: remove outdated bootstrap documentation
  LOCAL_DEV_BOOTSTRAP.md
Due: lint

chore: migrate from npm to pnpm
  CLAUDE.md
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: lint

refactor: consolidate migrations with fresh schema dump from production
  supabase/migrations/00000000000000_baseline.sql
  supabase/migrations/20240101000000_fix_notifications_and_counters.sql
  supabase/migrations/20250819000002_initial_schema.sql
  supabase/migrations/20260128000000_admin_moderation.sql
Due: none

fix: handle lowercase database column names in trip schema
  src/lib/__tests__/tripService.test.ts
  src/lib/schemas/database.schemas.ts
  src/lib/schemas/tripSchema.ts
  src/types/database.types.ts
Due: lint, typecheck

chore: add workspace files to gitignore
  .gitignore
Due: none

docs: add BDD feature files documenting system behavior
  features/admin.feature
  features/authentication.feature
  features/dashboard.feature
  features/guest-mode.feature
  features/messaging.feature
  features/reviews.feature
  features/trip-details.feature
  features/trip-posting.feature
  features/trip-search.feature
  features/user-profile.feature
Due: none

docs: add fake data generator plan
  plans/2026-02-02-fake-data-generator.md
Due: lint

feat: add typed fake data generators for tests
  package-lock.json
  package.json
  src/lib/__tests__/adminService.test.ts
  src/lib/__tests__/tripService.test.ts
  src/lib/testing/createFakeApi.ts
  src/lib/testing/fixtures.ts
  src/lib/testing/generators/supabaseAuth.ts
  src/lib/testing/generators/trip.ts
  src/lib/testing/generators/user.ts
Due: lint, typecheck

docs: mark fake data generator tasks complete
  plans/2026-02-02-fake-data-generator.md
Due: lint

feat: add seed SQL generator for accommodation types
  BUGS.md
  features/seed-data-generator.feature
  features/trip-posting.feature
  package-lock.json
  package.json
  plans/2026-02-02-seed-sql-generator.md
  scripts/generate-seed.ts
  src/lib/testing/__tests__/createFakeApi.test.ts
  src/lib/testing/createFakeApi.ts
  src/lib/testing/generators/__tests__/accommodationType.test.ts
  src/lib/testing/generators/__tests__/seedSqlGenerator.test.ts
  src/lib/testing/generators/__tests__/trip.test.ts
  src/lib/testing/generators/accommodationType.ts
  src/lib/testing/generators/seedSqlGenerator.ts
  src/lib/testing/generators/trip.ts
  supabase/seed.sql
  tsconfig.node.json
Due: lint, typecheck

feat: add vitest-cucumber BDD tests for authentication and admin features
  plans/2026-02-02-vitest-cucumber-integration.md
  src/lib/__tests__/admin.spec.ts
  src/lib/__tests__/adminService.test.ts
  src/pages/__tests__/authentication.spec.tsx
  src/pages/__tests__/dashboard.spec.tsx
  src/pages/__tests__/guest-mode.spec.tsx
  src/test/__tests__/fixtures.spec.ts
  src/test/componentFixtures.tsx
Due: lint, typecheck

chore: simplify biome config to use recommended rules
  biome.json
  package.json
Due: lint

feat: add vitest-cucumber BDD tests for remaining features
  src/pages/__tests__/messaging.spec.tsx
  src/pages/__tests__/trip-details.spec.tsx
  src/pages/__tests__/trip-posting.spec.tsx
  src/pages/__tests__/trip-search.spec.tsx
  src/pages/__tests__/user-profile.spec.tsx
Due: lint, typecheck

perf: optimize test speed with 325ms timeout
  src/pages/__tests__/authentication.spec.tsx
  vitest.config.ts
Due: lint, typecheck

docs: mark seed SQL generator plan scenarios complete
  plans/2026-02-02-seed-sql-generator.md
Due: lint

refactor: replace noExplicitAny with Zod schemas for runtime validation
  src/components/EditTripModal.tsx
  src/components/TripCard.tsx
  src/components/chat/ChatWindow.tsx
  src/contexts/GuestModeContext.tsx
  src/hooks/useUser.ts
  src/lib/chatService.ts
  src/lib/schemas/guestModeSchema.ts
  src/lib/schemas/messageSchema.ts
  src/lib/schemas/realtimeSchema.ts
  src/lib/schemas/roomSchema.ts
  src/lib/schemas/tripFormSchema.ts
  src/lib/tripService.ts
  src/pages/PostTripSteps/PostTripSuccessModal.tsx
  src/pages/PostTripSteps/Step1Destination.tsx
  src/pages/PostTripSteps/Step2Accommodation.tsx
  src/pages/PostTripSteps/Step3Preferences.tsx
  src/pages/PostTripSteps/TripPreview.tsx
  src/pages/TripDetailPage.tsx
  vitest.config.ts
Due: lint, typecheck

fix: replace remaining noExplicitAny directives with proper types
  src/components/MobileNavigation.tsx
  src/components/chat/MessageInput.tsx
  src/lib/amplitude.ts
  src/lib/presenceService.ts
  src/lib/schemas/analyticsSchema.ts
  src/lib/schemas/profileFormSchema.ts
  src/lib/schemas/tripSearchSchema.ts
  src/pages/CreateProfilePage.tsx
  src/pages/EditProfilePage.tsx
  src/pages/FindPartnerPage.tsx
  src/pages/MessagesPage.tsx
  src/pages/ProfileCreation/Step1BasicInfo.tsx
  src/pages/ProfileCreation/Step2Location.tsx
  src/pages/ProfileCreation/Step3Languages.tsx
  src/pages/ProfileCreation/Step4Preferences.tsx
Due: lint, typecheck

chore: add strict type checking and update gitignore
  .gitignore
  package.json
  tsconfig.json
Due: lint

chore: update package-lock.json
  package-lock.json
Due: lint

feat: add WhatsApp bot with edge function deployment
  .gitignore
  CLAUDE.md
  DEPLOYING.md
  README.md
  features/whatsapp-bot.feature
  package-lock.json
  package.json
  plans/2026-02-03-whatsapp-bot-integration.md
  scripts/build-edge-functions.ts
  src/lib/bot/__tests__/accessControl.test.ts
  src/lib/bot/__tests__/groqClient.test.ts
  src/lib/bot/__tests__/handler.test.ts
  src/lib/bot/__tests__/logger.test.ts
  src/lib/bot/__tests__/schemas.test.ts
  src/lib/bot/__tests__/supabaseDb.test.ts
  src/lib/bot/__tests__/systemPrompt.test.ts
  src/lib/bot/__tests__/twilioValidator.test.ts
  src/lib/bot/__tests__/twiml.test.ts
  src/lib/bot/accessControl.ts
  src/lib/bot/groqClient.ts
  src/lib/bot/handler.ts
  src/lib/bot/index.ts
  src/lib/bot/logger.ts
  src/lib/bot/schemas.ts
  src/lib/bot/supabaseDb.ts
  src/lib/bot/systemPrompt.ts
  src/lib/bot/twilioValidator.ts
  src/lib/bot/twiml.ts
  src/lib/bot/types.ts
  src/lib/schemas/database.schemas.ts
  src/types/database.types.ts
  supabase/functions/whatsapp-webhook/_src.ts
  supabase/migrations/20260203194133_whatsapp_bot.sql
  supabase/migrations/20260203200000_whatsapp_rate_limit_fn.sql
  supabase/migrations/20260203210000_whatsapp_rls.sql
  tsconfig.app.json
  tsconfig.json
Due: lint, typecheck

feat: support local edge function development
  .env.example
  DEPLOYING.md
  README.md
  package.json
  src/lib/bot/twilioValidator.ts
  supabase/functions/whatsapp-webhook/_src.ts
Due: lint, typecheck

feat(bot): add security hardening and output validation
  TECHNICAL_OVERVIEW.md
  WHATSAPP_BOT_BRIEFING.md
  features/whatsapp-bot.feature
  plans/2026-02-11-red-team-remediations.md
  src/lib/bot/__tests__/groqClient.test.ts
  src/lib/bot/__tests__/handler.test.ts
  src/lib/bot/__tests__/outputValidator.test.ts
  src/lib/bot/__tests__/supabaseDb.test.ts
  src/lib/bot/__tests__/systemPrompt.test.ts
  src/lib/bot/__tests__/twilioValidator.test.ts
  src/lib/bot/groqClient.ts
  src/lib/bot/handler.ts
  src/lib/bot/index.ts
  src/lib/bot/outputValidator.ts
  src/lib/bot/supabaseDb.ts
  src/lib/bot/systemPrompt.ts
  src/lib/bot/types.ts
  supabase/migrations/20260211000000_whatsapp_flagged_content.sql
Due: lint, typecheck

feat(bot): add input validation to prevent context window poisoning
  TECHNICAL_OVERVIEW.md
  src/lib/bot/__tests__/handler.test.ts
  src/lib/bot/__tests__/outputValidator.test.ts
  src/lib/bot/handler.ts
  src/lib/bot/logger.ts
  src/lib/bot/outputValidator.ts
  src/lib/bot/types.ts
Due: lint, typecheck

chore: remove bot briefing document
  WHATSAPP_BOT_BRIEFING.md
  plans/red-team-decisions.md
Due: lint

chore: remove red team decisions document
  plans/red-team-decisions.md
Due: lint

feat(bot): add supplier intake flow for event-scoped property listings
  .gitignore
  CLAUDE.md
  DEPLOYING.md
  biome.json
  features/supplier-intake.feature
  plans/2026-02-12-supplier-intake-flow.md
  src/lib/bot/__tests__/groqClient.test.ts
  src/lib/bot/__tests__/handler.test.ts
  src/lib/bot/__tests__/outputValidator.test.ts
  src/lib/bot/__tests__/supplierIntake.spec.ts
  src/lib/bot/__tests__/supplierSchema.test.ts
  src/lib/bot/groqClient.ts
  src/lib/bot/handler.ts
  src/lib/bot/outputValidator.ts
  src/lib/bot/supabaseDb.ts
  src/lib/bot/supplierPrompt.ts
  src/lib/bot/supplierSchema.ts
  src/lib/bot/types.ts
  src/lib/testing/generators/accommodationType.ts
  supabase/functions/whatsapp-webhook/_src.ts
  supabase/migrations/20260212000000_supplier_intake.sql
  supabase/seed.sql
Due: lint, typecheck

docs: add migration safety guidelines and webhook setup instructions
  DEPLOYING.md
Due: lint

chore: remove ESLint in favour of Biome
  biome.json
  eslint.config.js
  package-lock.json
  package.json
  src/components/AccommodationPreview.tsx
  src/components/CityAutocomplete.tsx
  src/contexts/AuthContext.tsx
  src/pages/AdminPage.tsx
Due: lint, typecheck

chore: upgrade TypeScript from 5.8 to 5.9
  package-lock.json
  package.json
Due: lint

chore: upgrade dependencies within semver ranges
  package-lock.json
Due: lint

chore: upgrade Biome to 2.4.4 and pin Playwright to stable
  biome.json
  package-lock.json
  package.json
  public/widget-examples.html
  src/pages/ResetPasswordPage.tsx
Due: lint, typecheck

chore: upgrade jsdom, react-datepicker, and plugin-react-swc to latest majors
  package-lock.json
  package.json
Due: lint
